<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img {
            height: 100px;
            float: left;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="{{ static_url('jquery.base64.min.js') }}"></script>
</head>
<body>

<div>
    <h3>Получить ключ</h3>
    <input type="text" id="username" required="false" value="">
    <button onclick="getKeyByUsername()">Get key</button>
    <button onclick="createUser()">Create user</button>
    <input type="text" id="pub_key" value="">
</div>
<script>

    function getKeyByUsername() {
        document.getElementById("pub_key").value = "";
        val = document.getElementById('username').value;
        urls_data = "/user/key/state/" + val;
        $.ajax({
            type: "get",
            url: urls_data,
            success: function (data) {
                console.log(data);
                if ( data.state === false) {
                    console.log("set element");
                    document.getElementById("pub_key").value = "Key generate is now.... wait";
                };
                $.ajax({
                    type: 'get',
                    url: '/user/key/'+val,
                    success: function (data) {
                        document.getElementById("pub_key").value = data.key
                    }
                }
                );
            },
        });
    }

    function createUser() {
        val = document.getElementById('username').value;
        urls_data = "/user";
        $.ajax({
            type: "post",
            url: urls_data,
            data:{
                "username": val
            },
            success: function (data) {
                document.getElementById("pub_key").value = ''
            },
        });
    }
</script>
<div>
    <input type="text" id="encrypt" value="">
    <button onclick="encrypt()">Encrypt</button>
    <button onclick="decrypt()">Decrypt</button>
    <input type="text" id="decrypt" value="">
    <script>
        function encrypt() {
            var msg = $.base64.encode(document.getElementById('encrypt').value)
            console.log(msg);
            $.ajax({
                type: 'post',
                url: '/crypt',
                data: {
                    'method': 'encrypt',
                    'username': document.getElementById('username').value,
                    'msg': msg
                },
                success: function (data) {
                    msg = $.base64.decode(data.enc_msg);
                    document.getElementById('decrypt').value = msg
                }
            });
        }
        function decrypt() {
            $.ajax({
                type: 'post',
                url: '/crypt',
                data: {
                    'method': 'decrypt',
                    'username': document.getElementById('username').value,
                    'msg': $.base64.encode(document.getElementById('decrypt').value)
                },
                success: function (data) {
                    msg = $.base64.decode(data.enc_msg);
                    document.getElementById('encrypt').value = msg
                }
            });
        }
    </script>
</div>

</body>
</html>